################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/doc/documentation.synctex.gz
/doc/documentation.log
/doc/documentation.aux
/GKS.VC.VC.opendb
/GKS.VC.db
/out
/x64/Release
/x64/Debug
/.vs/GKS/v14
/enc_temp_folder/dad3a3761f3f1c2e3938e2684e9fecc/main.cpp
/enc_temp_folder/3fa8c28794e99b9e7bc594dbaca3b5/GKSMesh.cpp
/doc/solverDescription.synctex.gz
/doc/solverDescription.pdf
/doc/solverDescription.log
/doc/solverDescription.aux
/doc/PoiseuilleSineDistroted_V.png
/doc/PoiseuilleSineDistroted_U_Profiles.png
/doc/PoiseuilleSineDistroted_U.png
/doc/2x2_TestCases.vsdx
/doc/2x2_TestCases.pdf
/doc/ChapmanEnskog2NSE.synctex.gz
/doc/ChapmanEnskog2NSE.pdf
/doc/ChapmanEnskog2NSE.log
/doc/ChapmanEnskog2NSE.aux
/doc/VeloFields_Lambda_8e-6.png
/doc/VeloFields_Lambda_1.png
/doc/microSlopeComputation_5.mw
/doc/microSlopeComputation_4.mw
/doc/microSlopeComputation_3.mw
/doc/microSlopeComputation_2.mw
/doc/microSlopeComputationIncompressible.mw
/doc/microSlopeComputation.mw
/doc/GKS_Stephan_Lenz.pdf
/doc/AlgorithmFlowchart.pptx
/doc/AlgorithmFlowchart.png
/perform
/src/mshReader.cpp~RF1915862.TMP
/src/mshReader.cpp~RF1bbf66b.TMP
/msh/
