################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/doc/documentation.synctex.gz
/doc/documentation.log
/doc/documentation.aux
