################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/doc/documentation.synctex.gz
/doc/documentation.log
/doc/documentation.aux
/GKS.VC.VC.opendb
/GKS.VC.db
/out
/x64/Release
/x64/Debug
/.vs/GKS/v14
/doc/microSlopeComputation_5.mw
/doc/microSlopeComputation_4.mw
/doc/microSlopeComputation_3.mw
/doc/microSlopeComputation_2.mw
/doc/microSlopeComputation.mw
